<?xml version="1.0" encoding="gb2312"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<bean id="master_tddl_ds" class="com.taobao.tddl.client.jdbc.TDataSource" init-method="init">
		<property name="appRuleFile" value="classpath:extra_parameter_context/tddl-rule.xml"/>
		<property name="appName" value="tddl_sample"/>
		<property name="useLocalConfig" value="true"/>
	</bean>
	<bean id="tddlDS" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource"><ref bean="master_tddl_ds"/></property>
    </bean>

</beans>
