    <link rel="stylesheet" type="text/css" href="$homeLink.setTarget('resources/mizar.css')" charset="utf-8" />
    <script language="javascript" type="text/javascript" src="$homeLink.setTarget('resources/jquery-1.4.2.js')" charset="utf-8"></script>
    <script language="javascript" type="text/javascript" src="$homeLink.setTarget('resources/mizar.js')" charset="utf-8"></script>
