           <div class="nav">
               <ul>
                   <li#if($active == 'service') class="active"#end>
                       <a href="$registryLink.setTarget('services.vm')">服务列表</a>
                   </li>
                   <li#if($active == 'partner') class="active"#end>
                       <a href="$registryLink.setTarget('partners.vm')">合作伙伴列表</a>
                   </li>
               </ul>
           </div>